<div class="form-group row">
    <label class="col-form-label col-sm-2" for="inputa">Enter Starting Number</label>
    <div class="col-sm-7">
        <input class="form-control" type="number" pattern="[0-9]" name="startNum" required />
    </div>
    <label>(required)</label>
</div>


<div class="form-group row">
    <label class="col-form-label col-sm-2" for="inputb">Enter Ending Number</label>
    <div class="col-sm-7">
        <input class="form-control"  name="endNum" type="number" pattern="[0-9]" required />
    </div>
    <label>(required)</label>
</div>


<div class="form-group row">
    <label class="col-form-label col-sm-2" for="inputc">Enter Increment</label>
    <div class="col-sm-7">
        <input class="form-control" name="incNum" type="number" pattern="[0-9]" required />
    </div>
    <label>(required)</label>
</div>